body {
  background-color: rgb(28,31,39);
}


.calculatrice {
  background-color: rgb(232, 175, 65);
  border-radius: 10px;
}

.screen, .number_to_print {
  background-color: rgb(232, 175, 65);
  color: #fff;
  font-size: 32px;
  border-radius: 10px;
}

button {
  border: none;
  border-radius: 10px;
  height: 100px;
  background-color: rgb(212, 109, 68);
  color: #fff;
  font-size: 32px;
}

button:active {
  background-color: rgb(194, 91, 50);
}

button:focus {
  outline:0;
}

.score {
  background-color: rgb(232, 175, 65);
  border-radius: 10px;
  font-weight: bold;
}